* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Shadows Into Light", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ee8b5d;
}

#chatbot-container {
    width: 360px;
    max-width: 90%;
    background-color: #2e0b45;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    transform-origin: center;
}

#chatbot-container:hover {
    transform: scale(1.03);
}

h1 {
    color: white;
    font-size: 22px;
    text-align: center;
    padding: 16px;
    margin: 0;
    border: 1px solid rgba(255, 255, 255, 0.1);

}

#chatbox {
    display: flex;
    flex-direction: column;
    height: 500px;
    background-color: white;
}

#message {
    flex: 1;
    padding: 16px;
    overflow: auto;
}

#input-area {
    display: flex;
    padding: 10px;
    background: #f9f9f9;
    border-top: 1px solid #ccc;
}

#user-input {
    flex: 1;
    padding: 10px 14px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: #0056b3;
}

#send-button {
    background: #007bff;
    padding: 10px 16px;
    text-decoration-color: white;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    border: none;
}

#send-button:hover {
  background-color: #0056b3;  /* Couleur quand la souris est dessus */
}



.falling-books-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* ne gêne pas le clic sur la page */
  overflow: hidden;
  z-index: 0; /* derrière le chatbox */
}

.book {
  position: absolute;
  top: -50px;
  font-size: 24px;
  animation-name: fall;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0.8;
}


@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh);
    opacity: 0;
  }
}

#reponse {
  display: flex;
  flex-direction: column;
}

.chat-messages {
  height: 300px;
  overflow-y: auto;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #0aeeee;
  margin-bottom: 15px;
}

.message {
  padding: 8px 12px;
  margin: 6px 0;
  border-radius: 16px;
  max-width: 70%;
  line-height: 1.4;
  font-size: 1rem;
}

.message.user {
  background-color: #d0e6ff;
  align-self: flex-end;
  text-align: right;
  margin-left: auto;
}

.message.bot {
  background-color: #f0f0f0;
  align-self: flex-start;
  text-align: left;
  margin-right: auto;
}
